body {
    font-family: 'Roboto', sans-serif;
}

form {
    background-color: #edf5f2;
    border-radius: 8px;
}

input {
    font-family: 'Roboto', sans-serif;
}

fieldset {
    font-family: 'Roboto', sans-serif;
    border: none;

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select:invalid {
    color: gray;
}