body {
    font-family: 'Roboto', sans-serif;
    background-color: #edf5f2;
}

h1{
    color: white;
    text-align: left;
    margin: 10px 0px 0px 20px;
}

form {
    margin: 90px 20px 0 20px;
}

.formFields {
    margin: 20px 5px;
}

fieldset {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border: 1px solid lightsteelblue;
    border-radius: 8px;
}

.singleEntry {
    font-family: 'Roboto', sans-serif;
    background-color: #dfeaf0;
    border: 1px solid lightsteelblue;
    border-radius: 8px;
    margin: 20px 20px 0 20px;
    padding: 10px 20px;
}

fieldset.moodFilter {
    margin: 20px 20px 0 20px;
}


input {
    font-family: 'Roboto', sans-serif;
}


textarea {
    width: 95%;
}

.blackBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1a1c1a;

}

fieldset.moodFilterButtons {
    display: block;
}
select:invalid {
    color: gray;
}

#submitButton {
    background-color: #39b85b;
    color: white;
    border: none;
    border-radius: 7px;
    height: 30px;
    margin: 20px 20px;
    font-size: 14px;
    /* box-shadow: 1px 1px 10px 1px #aaaaaa; */

}

#submitButton:hover {
    background-color: #38a956;
    cursor: pointer;
    box-shadow: -1px -1px 10px 3px  #aaaaaa;
}

#entryInput {
    box-sizing: border-box;
}

.fa-trash-alt, .fa-pencil-alt {
    color: darkslategray;
    margin-right: 10px;
}

.fa-trash-alt:hover {
    color: #e64229;
    cursor: pointer;   
}

.fa-pencil-alt:hover {
    color: #39b85b;
    cursor: pointer;   
}
